<!DOCTYPE html>

<head>
	<title>Course</title>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<% render 'layouts/shim' %>
</head>

<<<<<<< HEAD
<body class="body_map">
<div id="map"></div>
		<hr>
	<div class="container">

		<div class="btn-group dropup">
  			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
		    Menu<span class="caret"></span>
		  	</button>
		  <ul class="dropdown-menu dropdown-menu-right" style="right: 0; left: auto;">
		    		<li><%= link_to "Home", root_path %></li>
			  	<% if logged_in? %>
=======
<body class="body_map" >
	<div id="map" class="map" ></div>

	<div class="panel">
		<%= link_to "Home", root_path %>
		<%= link_to "All courses", courses_path %>
		<%= link_to "Create course", create_path %>
		<div class="dropdown">
			<button onclick="dropdown()" class="dropbtn" style="float:center;" >Menu</button>
	  		<div id="myDropdown" class="dropdown-content">
	  			<% if logged_in? %>
>>>>>>> c39c591efc07b9c57b29a7ad63369a811d6681b6
					<li><%= link_to "Profile", current_u %></li>
					<li><%= link_to "Settings", edit_user_path(current_u) %></li>
					<li><%= link_to "Log out", logout_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Log in", login_path %></li>
				<% end %>
		  </ul>
		</div>
<<<<<<< HEAD

	<!-- search bar -->
	<div class="row">
		<h2>Course Search</h2>
		<%= link_to "All Courses", course_twitter_path %>
	    <div id="custom-search-input">
	        <div class="input-group col-md-4">
	    	    <input type="text" class="  search-query form-control" placeholder="Search a course" />
	            <span class="input-group-btn">
	            	<button class="btn btn-danger" type="button"> <span class=" glyphicon glyphicon-search"></span></button>
	            </span>
	        </div>
	    </div>
	</div>

	<div class="row">
		<div class="col-sm-4">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search a course" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <select class="form-control">
                            <option value="0">Course 1 </option>
                            <option value="1">Course 2 </option>
                            <option value="2">Course 3 </option>
                          </select>
                    </div>
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                 </div>
            </div>
        </div>
    </div>













<!--		<div class="course_list" id="para" onClick="coords( <= nodes %> )">
			Course selection: <= nodes %>
		</div>
		
		<button id="bt", style="background-color: orange;">
			submit
		 </button> -->

		<div class="course_list"></div>

=======
		<div id="timerdiv">
			<div id="hours_ele">0</div>
			<div id="minutes_ele">0</div>
			<div id="seconds_ele">0</div>
		</div>
		<button onclick="startTimer()">Start</button>
		<button onclick="clearTimer()">Clear</button>
>>>>>>> c39c591efc07b9c57b29a7ad63369a811d6681b6
	</div>

	</div>
	
		 		<hr>
</body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDD4iRh-e5YvN2Ip9Xfda7wqLB6mGizxQ" onload="coords(<%= @coords %>)" async defer>
</script>


<%= debug(params) if Rails.env.development? %>

