<!DOCTYPE html>

<head>
	<title>Course</title>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<% render 'layouts/shim' %>
</head>

<body class="body_map" >

	<div id="map" class="map" ></div>

	<div class="container">
			<div class="btn-group" role="group" >
			  <button type="button" class="glyphicon glyphicon-home"> <%= link_to "Home", root_path, class: 'leaveCoursesView' %> </button>
			  <button type="button" class="glyphicon glyphicon-th-list"> <%= link_to "All courses", courses_path, class: 'leaveCoursesView', :id => 'someidplease' %> </button>

			  <% if logged_in? %>
			   		<button type="button" class="glyphicon glyphicon-user"> <%= link_to "Profile", current_u, class: 'leaveCoursesView' %> </button>
			    	<button type="button" class="glyphicon glyphicon-pencil"> <%= link_to "Create course", create_path, class: 'leaveCoursesView' %> </button>
			    	<button type="button" class="glyphicon glyphicon-chevron-down"> <%= link_to "Log out", logout_path, method: :delete, class: 'leaveCoursesView' %> </button>
			    <% else %>
			  		<button type="button" class="glyphicon glyphicon-arrow-up"> <%= link_to "Log in", login_path, class: 'leaveCoursesView' %>  </button>
			    <% end %>
			</div>

		<div id="timerdiv">
			<div id="hours1_ele">0</div>
			<div id="hours2_ele">0</div>
			<div id="minutes1_ele">0</div>
			<div id="minutes2_ele">0</div>
			<div id="seconds1_ele">0</div>
			<div id="seconds2_ele">0</div>
		</div>

		<button id="startButton" onclick="timerMode()">Start</button>
<!--		<button id="pauseButton" onclick="startTimer()">Start Timer</button> -->
		<button id="resetButton" onclick="resetTimer()" disabled="true">Reset</button>

	</div>


	<!-- search bar -->
    <form class="search" method="post" action="">
      <input type="search" name="q" placeholder="Search a course here..." autocomplete="on">
      <ul class="search-ac">
		<%= render 'searchItems' %>
      </ul>
    </form>

		<div class="course_list"></div>

	</div>
<hr>
</body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDD4iRh-e5YvN2Ip9Xfda7wqLB6mGizxQ" onload="coords('<%= @na %>',<%= @coords %>)" async defer>
</script>


<%= debug(params) if Rails.env.development? %>
