<!DOCTYPE html>

<head>
	<title>Course</title>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<% render 'layouts/shim' %>
</head>

<<<<<<< HEAD

<!--<#% nodes = @c.coordinates %>
-->
=======
>>>>>>> 32241b43c02b01c10572fbe56984cc44ef430ab2
<body class="body_map">
	<div id="map" class="map"></div>

	<div class="panel">
		<%= link_to "Home", root_path %>
		<%= link_to "All courses", courses_path %>
		<%= link_to "Create course", create_path %>
		<div class="dropdown">
			<button onclick="dropdown()" class="dropbtn" style="float:center;" >Menu</button>
	  		<div id="myDropdown" class="dropdown-content">
	  			<% if logged_in? %>
					<li><%= link_to "Profile", current_u %></li>
					<li><%= link_to "Settings", edit_user_path(current_u) %></li>
					<li><%= link_to "Log out", logout_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Log in", login_path %></li>
				<% end %>
	  		</div>
		</div>
<<<<<<< HEAD
<!--
		<div class="course_list" id="para" onClick="coords( <%#= nodes %> )">
			Course selection: <%#= nodes %>
		</div>
		<button id="bt", style="background-color: orange;">
			submit
		 </button>

	</div>
-->
<!--
  	<p id="para" onClick="coords( <%#= nodes %> )", style="background-color: pink; width: 80%; margin: auto;">
  		<%#= nodes %>
	</p>
	<button id="bt", style="background-color: orange;">
		submit
	</button>
-->
<!--
</body>
-->
<!--<<<<<< Updated upstream
=======
-->

<!-- Testing GET coords from database -->
<!--<body class="body_map"> -->
<!--	<#% nodes = @c.coordinates %>
	<#%= render 'layouts/header' %>

	<p id="para" onClick="coords( <%#= nodes %> )", style="background-color: pink; width: 80%; margin: auto;">
		<%#= nodes %>
	</p>
-->

	<ul>
	  <% @courses.each do |course| %>
	    <li>
<!--	      <#%= link_to course.name, selected_path(course_param: course.name) %>
-->
				<% nodes = course.coordinates %>
				<p id="para" onClick="coords( <%= nodes %> )", style="background-color: pink; width: 80%; margin: auto;">
					<%= nodes %>
				</p>
	    </li>
	  <% end %>
	</ul>
</div>
	<button id="bt",  style="background-color: orange;">
		submit<%= link_to "Maps", location_path %>
	</button>
=======

		<div class="course_list"></div>

	</div>

>>>>>>> 32241b43c02b01c10572fbe56984cc44ef430ab2
</body>
>>>>>>> Stashed changes

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDD4iRh-e5YvN2Ip9Xfda7wqLB6mGizxQ&callback=initialize" async defer>
</script>

<%= debug(params) if Rails.env.development? %>
