<!DOCTYPE html>

<head>
	<title>Course</title>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<% render 'layouts/shim' %>
</head>

<% nodes = @c.coordinates %>
<body class="body_map">
	<div id="map"></div>

	<div class="panel">
		<%= link_to "Home", root_path %>
		<div class="dropdown">
			<button onclick="dropdown()" class="dropbtn" style="float:center;" >Menu</button>
	  		<div id="myDropdown" class="dropdown-content">
	  			<% if logged_in? %>
					<li><%= link_to "Profile", current_u %></li>
					<li><%= link_to "Settings", edit_user_path(current_u) %></li>
					<li><%= link_to "Log out", logout_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Log in", login_path %></li>
				<% end %>
	  		</div>
		</div>

		<div class="course_list" id="para" onClick="coords( <%= nodes %> )">
			Course selection: <%= nodes %>
		</div>
		<button id="bt", style="background-color: orange;">
			submit
		 </button>
	</div>

</body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDD4iRh-e5YvN2Ip9Xfda7wqLB6mGizxQ&callback=initialize" async defer>
</script>

<%= debug(params) if Rails.env.development? %>

<div class="container">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
    </ul>
  </div>
</div>
