<% provide(:title, "Edit Account") %>
<h2  style="color:#e6e6e8">Update profile</h2>

<div class="alteration">

  <div class="avatar_edit">
    <%= avatar_for @u %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
 <div class="col-xs-4 col-md-offset-4 form_style">
  <%= form_for(@u) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="edit_input>">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <%= f.submit "Save changes",:class=> 'btn btn-primary btn-block' %>
  <% end %>

  <%= link_to "Delete Account", @u, method: :delete, data: { confirm: "Are you sure?"} %>
  </div>
</div>