<% provide(:title, @u.name) %>

<div class="profile_container" style="margin:0 0 0 0;">
	<aside class="user_identity">
		<h2>
			<%= avatar_for @u %>
			<%= @u.name %>
		</h2>
	</aside>
	
	<div class="user_profile">
		<p> Name: <%=@u.name %> </p>
		<p>Routes Completed:</p>
		<table class="courses_completed">
			<tr>
				<th>Course</th>
				<th>Time to complete</th>
				<th>[Link to course page]</th>
			</tr>
			<% @p.each do |p| %>
			<tr>
				<td><%= p.name %></td>
				<td>000</td>
				<td><%= link_to @courses.find_by_name(p.name).name, @courses.find_by_name(p.name) %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>

