<footer class="footer">


  <small class="mission_statement"> Promptitude aims to encourage users to exercise regularly by providing them with an augmented reality.  It adds an extra layer of entertainment and convenience to outdoor activities such as jogging or hiking.
  </small>
  
  <div class="  footer-links-blk">
      <%= link_to "Sign Up", signup_path, :class => "footer-links"%>|
  	   <%= link_to "About", about_path, :class => "footer-links" %>|
	   <%= link_to "News", news_path, :class => "footer-links" %>|
  	   <%= link_to "Help", help_path, :class => "footer-links" %>
</div>
  
 <small class="copyright">
   <%= link_to "Promptitude", root_path %> 
   &copy; 2016.
 </small>


</footer>