<header class="header">
	<div class="logo_image">
		<%= link_to image_tag("/assets/logo.png",style:'width:250%;height:120%;',alt:"Promptitude Logo"), root_path %>
	</div>
	<div class="app_name">
		<p>Promptitude</p>
	</div>
	<nav class="navbar">
		<ul class="nav navbar-nav">
			<% if logged_in? %>
				<%= link_to "Profile", current_u %>
				<%= link_to "Maps", location_path %>
				<%= link_to "Settings", edit_user_path(current_u) %>
				<%= link_to "Log out", logout_path, method: :delete %>
			<% else %>
				<%= form_for(:session, url: login_path, html: { class: "navbar-form navbar-right form-inline" }) do |f| %> 
				<%= f.text_field :email, :placeholder => "Email", :class => "input-small" %> 
				<%= f.password_field :password, :placeholder => "Password", :class => "input-small" %> 
				<%= f.check_box :remember_me, :class => "checkbox" %><%= f.label :remember_me, :class => "checkbox" %> 
				<%= f.submit 'Login', :class => "btn" %> 
				<% end %>
			<% end %>
		</ul>
	</nav>
</header>

<div class="header">
	<!-- inline nav bar stuff-->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
				<a class="navbar-brand" href="<%=root_url%>">
						<span><img src="/assets/logo.png" alt="Promptitude logo" class="logo_image"> </span>
				  </a>
				</div>
				<ul class="nav navbar-nav">
					<!-- menu items -->
					<% if logged_in? %>
									<%= link_to "Profile", current_u %>
									<%= link_to "Maps", location_path %>
									<%= link_to "Settings", edit_user_path(current_u) %>
									<%= link_to "Log out", logout_path, method: :delete %>
					<% else %>
									<%= form_for(:session, url: login_path, html: { class: "navbar-form navbar-right form-inline" }) do |f| %> 
									<%= f.text_field :email, :placeholder => "Email", :class => "input-small" %> 
									<%= f.password_field :password, :placeholder => "Password", :class => "input-small" %> 
									<%= f.check_box :remember_me, :class => "checkbox" %>
									<%= f.label :remember_me, :class => "checkbox" %> 
									<%= f.submit 'Login', :class => "btn" %> 
									<% end %>
					<% end %>
				</ul>
			  </div>
	</nav>
</div>
 
