<header class="header">
<div class="banner">


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
			<div class="logo_image">
				<%= link_to image_tag("/assets/logo.png",style:'width:100%;height:100%;',alt:"Promptitude Logo"), root_path %>
			</div>
			<ul class="nav navbar-nav">
				<% if logged_in? %>
								<%= link_to "Profile", current_u %>
								<%= link_to "Maps", location_path %>
								<%= link_to "Settings", edit_user_path(current_u) %>
								<%= link_to "Log out", logout_path, method: :delete %>
				<% else %>
								<%= form_for(:session, url: login_path, html: { class: "navbar-form navbar-right form-inline" }) do |f| %> 
								<%= f.text_field :email, :placeholder => "Email", :class => "input-small" %> 
								<%= f.password_field :password, :placeholder => "Password", :class => "input-small" %> 
								<%= f.check_box :remember_me, :class => "checkbox" %><%= f.label :remember_me, :class => "checkbox" %> 
								<%= f.submit 'Login', :class => "btn" %> 
								<% end %>
				<% end %>
			</ul>
		</div>
</nav>


</header>